$cyan: #42dbd4;
$green: #9df5da;
@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $cyan;
	color: black;
	@include margenes(50px, 0px);
}
footer {
	padding: 10px 10px 0 10px;
	background-color: $cyan;
	@include margenes(10px, 0px);
}
.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
	background-color: $green;
}
.btn-reserva{
	width:216px;
	border-radius: 0px; 
}
.footer-address-icon {
padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}
.popover{
  border-color: red;
  background-color: $green;
}
